// Startup
// -------
spawn-at-startup "qs" "-c" "noctalia-shell"

// Includes
// -----
include "window-rules.kdl"
include "inputs.kdl"
include "binds.kdl"

// -------------
// Layout and layer config
// -------------
layout {
    background-color "transparent"

    gaps 5

    default-column-width { proportion 0.5; }
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    // preset-window-heights { }

    focus-ring {
        width 2
        active-color "#7fc8ff"
        inactive-color "#505050"
    }
    tab-indicator {
        active-color "#C8FF7F"
        inactive-color "#7FC8FF"
        place-within-column
    }
}

layer-rule {
  match namespace="^noctalia-overview*"
  place-within-backdrop true
}

// ------------------
// Overview settings
// ------------------
overview {
    workspace-shadow { off; }
}

// -----
// Other
// -----
prefer-no-csd   // Disable program decorations

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

hotkey-overlay { skip-at-startup; }

debug {
    // Allows notification actions and window activation from Noctalia.
    honor-xdg-activation-with-invalid-serial
}

environment {
    //DISPLAY ":1"
    ELECTRON_OZONE_PLATFORM_HINT "auto" // Electron fix
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "qt6ct"
    //QT_QPA_PLATFORMTHEME_QT6 "qt6ct"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    XDG_SESSION_TYPE "wayland"
    XDG_CURRENT_DESKTOP "niri"
}

