// Startup
//spawn-at-startup "qs" "-c" "noctalia-shell"
spawn-at-startup "noctalia"

// Includes
include "layout.kdl"
include "window-rules.kdl"
include "inputs.kdl"
include "binds.kdl"

// Other
recent-windows {
    highlight {
        active-color "#4db7ff"
        urgent-color "#fd4663"
    }
}

layer-rule {
  match namespace="^noctalia-backdrop"
  place-within-backdrop true
}

overview {
    workspace-shadow { off; }
}

prefer-no-csd   // Disable program decorations

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

hotkey-overlay { skip-at-startup; }

debug {
    // Allows notification actions and window activation from Noctalia.
    honor-xdg-activation-with-invalid-serial
}

environment {
    //DISPLAY ":1"
    ELECTRON_OZONE_PLATFORM_HINT "auto" // Electron fix
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "qt6ct"
    //QT_QPA_PLATFORMTHEME_QT6 "qt6ct"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    XDG_SESSION_TYPE "wayland"
    XDG_CURRENT_DESKTOP "niri"
}
